.activeNavbar {
    animation: slidein 1s forwards ease-in-out;
  }
  
  @keyframes slidein {
    from {
      transform: translate(100px, 0) scale(2, 1);
    }
    to {
      transform: translate(0, 0) scale(1, 1);
    }
  }
  