#navBar {
  transition: transform 0.75s ease;
  transform: translate(0, -50%);
  border: 1px solid var(--grey);
  border-left: 0;
}

#navBar.closed {
  transform: translate(-100%, -50%);
}

.rotate-content {
  border: 1px solid var(--grey);
  fill: var(--main);
}
button:hover .rotate-content {
  fill: var(--black);
}

button .rotate-content {
  transition: transform 1s ease;
  transform: rotate(180deg);
}

button.closed .rotate-content {
  transition: transform 0.5s ease;
  transform: rotate(180deg);
}

button.closed .rotate-content.translate {
  transition: transform 0.75s ease;
  transform: translateX(0%);
}

.container {
  perspective: 800px;
  width: 200px;
  height: 200px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0.6;
}

.front {
  transform: rotateY(0deg) translateZ(100px);
  background-color: var(--hue-1-transparent);
}
.right {
  transform: rotateY(90deg) translateZ(100px);
  background-color: var(--hue-2-transparent);
}
.back {
  transform: rotateY(180deg) translateZ(100px);
  background-color: var(--hue-3-transparent);
}
.left {
  transform: rotateY(-90deg) translateZ(100px);
  background-color: var(--hue-4-transparent);
}
.top {
  transform: rotateX(90deg) translateZ(100px);
  background-color: var(--hue-5-transparent);
}
.bottom {
  transform: rotateX(-90deg) translateZ(100px);
  background-color: var(--hue-6-transparent);
}
